.page {
   // .page__catering-hero
   &__catering-hero {
      padding-bottom: toRem(140);
      @media (max-width: toEm($pc)) {
         padding-bottom: toRem(100);
      }
      @media (max-width: toEm($tablet)) {
         padding-bottom: toRem(70);
      }
      @media (max-width: toEm($mobile)) {
         padding-bottom: toRem(40);
      }
   }
}
