// Local fonts

@font-face {
   font-family: "Kollektif";
   src:
      local("Kollektif"),
      url("../fonts/Kollektif.woff2") format("woff2"),
      url("../fonts/Kollektif.woff") format("woff");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: "Kollektif";
   src:
      local("Kollektif"),
      url("../fonts/Kollektif-Bold.woff2") format("woff2"),
      url("../fonts/Kollektif-Bold.woff") format("woff");
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: "Lena";
   src:
      local("Lena"),
      url("../fonts/Lena.woff2") format("woff2"),
      url("../fonts/Lena.woff") format("woff");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: "Avenir";
   src:
      local("Avenir"),
      url("../fonts/Avenir-Medium.woff2") format("woff2"),
      url("../fonts/Avenir-Medium.woff") format("woff");
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}
