.page {
   // .page__homepage-hero
   &__homepage-hero {
   }
   // .page__collection
   &__collection {
   }
}

// =============================================================================================================

.homepage-hero {
   padding: toRem(220) 0;
   background: $mainBgGradient;
   position: relative;
   @media (max-width: toEm($tablet)) {
      padding: toRem(150) 0 toRem(220);
   }
   @media (max-width: toEm($mobile)) {
      padding: toRem(120) 0;
   }
   @media (max-width: toEm($mobileSmall)) {
      padding: toRem(80) 0;
   }
   // .homepage-hero__container
   &__container {
   }
   // .homepage-hero__content
   &__content {
      margin-left: 46%;
      position: relative;
      z-index: 2;
      @media (max-width: toEm($tablet)) {
         margin-left: 20%;
      }
      @media (max-width: toEm($mobileSmall)) {
         margin-left: toRem(30);
      }
      @media (max-width: toEm(375)) {
         margin-left: 0;
      }
   }
   // .homepage-hero__sub-title
   &__sub-title {
      font-family: $secondaryFont;
      font-size: toRem(20);
      text-transform: uppercase;
      @media (max-width: toEm($mobile)) {
         font-size: toRem(18);
      }
      @media (max-width: toEm($mobileSmall)) {
         font-size: toRem(16);
      }
      &:not(:last-child) {
         margin-bottom: toRem(55);
         @media (max-width: toEm($tablet)) {
            margin-bottom: toRem(35);
         }
         @media (max-width: toEm($mobile)) {
            margin-bottom: toRem(25);
         }
         @media (max-width: toEm($mobileSmall)) {
            margin-bottom: toRem(20);
         }
      }
   }
   // .homepage-hero__title
   &__title {
      font-size: toRem(50);
      font-weight: 700;
      @media (max-width: toEm($mobile)) {
         font-size: toRem(40);
      }
      @media (max-width: toEm($mobileSmall)) {
         font-size: toRem(35);
      }
      &:not(:last-child) {
         margin-bottom: toRem(48);
         @media (max-width: toEm($mobile)) {
            margin-bottom: toRem(30);
         }
      }
   }
   // .homepage-hero__link
   &__link {
      display: block;
      max-width: toRem(373);
      padding: toRem(11) toRem(15);
      border: toRem(1) solid #000;
      border-radius: toRem(3);
      font-family: $secondaryFont;
      font-size: toRem(20);
      text-align: center;
      transition: all 0.3s;
      @media (any-hover: hover) {
         &:hover {
            color: $secondaryTextColor;
            background-color: $secondaryBg;
         }
      }
      @media (max-width: toEm($mobile)) {
         display: inline-block;
      }
      @media (max-width: toEm($mobileSmall)) {
         font-size: toRem(18);
      }
   }
   // .homepage-hero__image
   &__image {
      width: 41%;
      position: absolute;
      top: 55%;
      left: 0;
      transform: translateY(-50%);
      img {
         max-width: 100%;
      }
      @media (max-width: toEm($tablet)) {
         opacity: 0.3;
         z-index: 1;
         width: 65%;
         bottom: 0;
         top: auto;
         transform: translateY(0);
      }
   }
}

// =============================================================================================================

.collection {
   position: relative;
   padding: toRem(90) 0 toRem(130);
   @media (max-width: toEm($pc)) {
      padding: toRem(80) 0;
   }
   @media (max-width: toEm($tablet)) {
      padding: toRem(60) 0;
   }
   @media (max-width: toEm($mobile)) {
      padding: toRem(40) 0;
   }
   @media (max-width: toEm($mobile)) {
      padding-top: toRem(70);
      padding-bottom: toRem(30);
   }
   // .collection__container
   &__container {
   }
   // .collection__title-block
   &__title-block {
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(-50%);
      @media (max-width: toEm($mobileSmall)) {
         transform: translateY(0);
      }
   }
   // .collection__items
   &__items {
      max-width: toRem(990);
      margin: 0 auto;
      @media (max-width: toEm($mobileSmall)) {
         display: grid;
         gap: toRem(20);
      }
   }
   // .collection__item
   &__item {
   }
}

.item-collection {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: toRem(40);
   padding: 0 toRem(90) 0 toRem(50);
   &:nth-child(even) {
      flex-direction: row-reverse;
      padding: 0;
      @media (max-width: toEm($mobileSmall)) {
         flex-direction: column;
      }
   }
   &:not(:first-child) {
      margin-top: toRem(-30);
      @media (max-width: toEm($mobile)) {
         margin-top: 0;
      }
   }
   @media (max-width: toEm($tablet)) {
      gap: toRem(25);
      padding: 0;
   }
   @media (max-width: toEm($mobileSmall)) {
      flex-direction: column;
      gap: toRem(10);
      text-align: center;
   }
   // .item-collection__content
   &__content {
      flex: 0 1 toRem(425);
      @media (max-width: toEm($mobileSmall)) {
         flex: 0 1 auto;
      }
   }
   // .item-collection__title
   &__title {
      font-size: toRem(30);
      line-height: 1.2;
      font-weight: 700;
      &:not(:last-child) {
         margin-bottom: toRem(27);
         @media (max-width: toEm($mobile)) {
            margin-bottom: toRem(15);
         }
         @media (max-width: toEm($mobileSmall)) {
            margin-bottom: toRem(10);
         }
      }
      @media (max-width: toEm($mobile)) {
         font-size: toRem(26);
      }
      @media (max-width: toEm($mobileSmall)) {
         font-size: toRem(22);
      }
   }
   // .item-collection__text
   &__text {
      padding-bottom: toRem(30);
      @media (max-width: toEm($mobileSmall)) {
         padding-bottom: 0;
      }
      p {
         &:not(:last-child) {
            margin-bottom: toRem(10);
         }
      }
   }
   // .item-collection__image
   &__image {
      flex: 0 1 toRem(350);
      &--wide {
         flex: 0 1 toRem(375);
         @media (max-width: toEm($mobileSmall)) {
            flex: 0 1 auto;
         }
      }
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
      @media (max-width: toEm($mobileSmall)) {
         flex: 0 1 auto;
         max-width: toRem(250);
      }
   }
}

// =============================================================================================================
